/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Poppins:wght@300&display=swap');

/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
    --swatch-color-1: #ff7a9b; /* rgb(237, 10, 67) */
    --swatch-color-2: #ff3d6e; /* rgb(255, 61, 110) */
    --swatch-color-3: #ed0a43; /* rgb(237, 10, 67) */
    --swatch-color-4: #da0037; /* rgb(218, 0, 55) */

    --mobile-nav-bg-color: var(--swatch-color-1);
    --social-hover-bg-color: var(--swatch-color-2);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

body:hover {
    cursor: default;
}

.container {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 5vh 15px;
}

.section-title {
    font-size: 2em;
    margin: 30px 0;
}

h2 {
    padding: 20px 0;
}

/*
===================================
Navbar
===================================
*/
#main {
    position: relative;
    display: -ms-grid;
    display: grid;
    z-index: 1;
}

.filler {
    width: 100%;
    height: 38vh;
    visibility: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 100px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    z-index: 2;
}

.middle-bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 14px;
}

header #toggle {
    position: relative;
    width: 30px;
    height: 30px;;
    cursor: pointer;
}

header #toggle:before {
    content: '';
    position: absolute;
    top: 5px;
    width: 100%;
    height: 2px;
    background: #fff;
}

header #toggle:after {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 2px;
    background: #fff;
}

header .name-logo {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.nav-links {
    position: absolute;
    padding: 40px 100px;
    top: 0;
    right: 0; 
    -webkit-transition: 0.6s; 
    -o-transition: 0.6s; 
    transition: 0.6s;
}

.nav-links li {
    display: inline-block;
    list-style-type: none;
    padding-top: 11px;
}

.nav-links li a {
    padding: 10px 30px;    
    text-decoration: none;
    background-image: -o-linear-gradient(left, var(--swatch-color-1) 0%, var(--swatch-color-4) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(var(--swatch-color-1)), to(var(--swatch-color-4)));
    background-image: linear-gradient(to right, var(--swatch-color-1) 0%, var(--swatch-color-4) 100%);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: 0 100%;
    width: 100%;
}

@-webkit-keyframes underline-extend-up {
    0% {
        background-size: 0 0;
    }
    100%{
        background-size: 100% 0.1em;
    }
}

@keyframes underline-extend-up {
    0% {
        background-size: 0 0;
    }
    100%{
        background-size: 100% 0.1em;
    }
}

/*
===================================
Mobile Nav/Banner
===================================
*/

.content-all.active header #toggle:before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
}

.content-all.active header .middle-bar {
    display: none;
}

.content-all.active header #toggle:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
}

.content-all.active {
    -webkit-transform: translate(-400px);
        -ms-transform: translate(-400px);
            transform: translate(-400px);
}

.content-all.active .social {
    -webkit-transform: translate(-400px);
        -ms-transform: translate(-400px);
            transform: translate(-400px);
}

#nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: var(--mobile-nav-bg-color);
    z-index: 0;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#nav-mobile ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#nav-mobile ul li {
    list-style-type: none;
}

#nav-mobile ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

/*
===================================
Banner
===================================
*/

.content-all {
    position: relative;
    background-color: #000;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.banner {
    min-height: 100vh;
    position: relative;
}

.content {
    max-width: 600px;
}

.content h1 {
    font-size: 5em;
}

.content h3 {
    font-size: 1.2em;
    font-weight: 300;
}

.content a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.scroll {
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 36px/2);
    -webkit-animation-name: up-down;
            animation-name: up-down;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

#arrow {
    width: 36px;
    height: 8px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}

#arrow::before {
    content: "";
    background-color: #fff;
    width: 20px;
    height: 2px;
    position: absolute;
    border-radius: 5px;
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
    right: 0;
}

#arrow::after {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
    left: 0;
}

@-webkit-keyframes up-down {
    50% {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

@keyframes up-down {
    50% {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}

/*
===================================
Social Links
===================================
*/

.social {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: calc(50% - 240px/2);
    left: 0;
    z-index: 2;
}

.social li {
    list-style-type: none;
}

.social li a {
    position: relative;
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 10px 0 0;
    background-image: none;
    background-color: none;
}

.social li a img {
    max-width: 40px;
}


/*
=====================================
About
=====================================
*/

/*
=====================================
Projects
=====================================
*/
.grid-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    grid-auto-rows: minmax(300px, auto);
    text-align: center;
}

.grid-item {   
    margin: 6px;
    padding: 10px 10px;
}

.grid-item:hover {
    /*background-color: var(--swatch-color-2);
    cursor: pointer;*/
    width: 100%;
}

.grid-item img {
    width: 100%;
}

.mini-description {
    font-size: 0.7em;
    padding-left: 10%;
    padding-right: 10%;
}

.blur-container#blur.active {
    -webkit-filter: blur(20px);
            filter: blur(20px);
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#project-popup {
    position: fixed;
    display: block;
    margin: auto;
    width: 50%;
    left: 25%;
    padding: 50px;
    -webkit-box-shadow: 0 5px 30px rbga(0, 0, 0, .30);
            box-shadow: 0 5px 30px rbga(0, 0, 0, .30);
    background: #0f292f;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 3;
}

#project-popup div {
    background-color: #000;
    padding: 10px 20px;
    width: 84px;
}

#project-popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.source-links {
    display: inline-block;
}

.source-links img {
    width: 25px;
}

.source-link img {
    float: left;
}

.source-link div {
    float: left;
    padding-top: 4px;
    padding-left: 3px;
}

.source-link {
    text-decoration: none;
    display: inline-block;
    margin: auto;
    font-size: 0.8em;
    margin-top: 10px;
    padding: 10px 8px;
    background: transparent;
}

.view-project {
    float: left;
}

.view-code {
    float: right;
}

/*
=====================================
Contact
=====================================
*/

.cta-title {
    font-size: 2.5em;
}

.cta-banner {
    position: relative;
}

.contact-form {
    margin-top: 140px;
}

.contact-form iframe {
    width: 100%;
    height: 80vh;
}

/*
=====================================
Resume
=====================================
*/



/*
=====================================
Media Querys
=====================================
*/

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    #nav-mobile {
        display: none;
    }

    #toggle {
        display: none;
    }
}

/* .container max-width changes for 1200px
test to change for other screen sizes */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 820px;
    }

    #nav-mobile {
        display: none;
    }

    #toggle {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 620px;
    }

    .nav-links {
        display: none;
    }

    .content {
        text-align: center;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 460px;
    }

    .nav-links {
        display: none;
    }

    .content {
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    /* make mobile responsive */
    .container {
        max-width: 300px;
    }

    .nav-links {
        display: none;
    }

    .content-all.active {
        -webkit-transform: translate(-225px);
            -ms-transform: translate(-225px);
                transform: translate(-225px);
    }
    
    #nav-mobile {
        width: 225px;
    }

    header .name-logo {
        visibility: hidden;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    .filler {
        height: 35vh;
    }
}

@media (max-width: 390px) {
    .social {
        position: fixed;
        bottom: 5px;
        left: 5px;
        right: initial;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .social li a {
        margin: initial;
        margin-right: 10px;
    }

    .filler {
        height: 30vh;
    }

    .scroll {
        display: none;
    }
}

@media (hover: hover) {
    .source-link:hover {
        background-color: var(--swatch-color-2);
        cursor: pointer;
    }

    .social li a:hover {
        background-image: -o-linear-gradient(right, var(--swatch-color-1) 0%, var(--swatch-color-4) 100%);
        background-image: -webkit-gradient(linear, right top, left top, from(var(--swatch-color-1)), to(var(--swatch-color-4)));
        background-image: linear-gradient(to left, var(--swatch-color-1) 0%, var(--swatch-color-4) 100%);
        background-color: var(--swatch-color-1);
    }

    .nav-links li a:hover {
        font-style: italic;
        -webkit-animation-name: underline-extend-up;
                animation-name: underline-extend-up;
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
    }
}